---
// Import the necessary dependencies
import enStrings from "@utils/navigation.ts";
import { SITE } from "@data/constants";

// Select the correct translation based on the page's lang prop:
const strings = enStrings;

// Define the variables that will be used in this component
const crafted: string = "Crafted by";
---

<footer class="w-full">
  <div
    class="mx-auto w-full max-w-[85rem] px-4 py-4 sm:px-6 lg:px-16 2xl:max-w-screen-2xl"
  >
    <div class="flex items-center justify-center">
      <p class="text-sm text-neutral-600 dark:text-neutral-400">
        © <span id="current-year"></span> {SITE.title}. {crafted}
        <a
          class="rounded-lg font-medium underline underline-offset-2 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-700 hover:decoration-dashed focus:outline-none focus-visible:ring dark:ring-zinc-200 dark:hover:text-neutral-300"
          href="https://tasyadew.com"
          target="_blank"
          rel="noopener noreferrer">Tasyadew</a
        > & 
        <a
        class="rounded-lg font-medium underline underline-offset-2 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-700 hover:decoration-dashed focus:outline-none focus-visible:ring dark:ring-zinc-200 dark:hover:text-neutral-300"
        href="https://github.com/IrsyadRosHisyamRos"
        target="_blank"
        rel="noopener noreferrer">Chad Rose</a
      > 
      </p>
    </div>

    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      element!.innerText = year.toString();
    </script>
  </div>
</footer>
