---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import bannerImg from "@/images/banner_light.png";
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>

<MainLayout>

  <div id="panorama"></div>
  <div class="w-full h-[85vh] flex justify-center items-center">
    <div class="relative mx-auto w-[60%] h-auto">
      <img src={bannerImg.src} alt="Background Image" />
      <div class="text">Server is up!</div>
    </div>
  </div>


</MainLayout>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
      pannellum.viewer('panorama', {
          "type": "equirectangular",
          "panorama": "/assets/pano_image.png",
          "autoLoad": true,
          "autoRotate": -2,
          "pitch": -10,
          "showZoomCtrl": false,
          "showFullscreenCtrl": false
      });
  });
</script>

<style>
  @font-face {
    font-family: "Minecraft";
    src: url("../font/Minecraft.eot");
    src:
      url("../font/Minecraft.eot?#iefix") format("embedded-opentype"),
      url("../font/Minecraft.woff2") format("woff2"),
      url("../font/Minecraft.woff") format("woff"),
      url("../font/Minecraft.ttf") format("truetype"),
      url("../font/Minecraft.svg#Minecraft") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    height: 100vh;
    overflow: hidden;
    }

  #panorama {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -2;
  }

  .text {
    position: absolute;
    bottom: 11.5cqw;
    right: 5cqw;
    font-family: "Minecraft", sans-serif;
    font-size: 2cqw;
    color: yellow;
    animation: growShrink 1s infinite;
    transform: translateX(50%) rotate(-25deg);
  }

  @keyframes growShrink {
    0%,
    100% {
      font-size: 2cqw;
    }
    50% {
      font-size: 2.2cqw;
    }
  }
</style>