---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
---

<MainLayout>
    <div class="py-10 h-[80vh] w-full">
        <embed
        src="https://map.tasyadew.com"
        style="width: 100%; height: 100%;"
        />
    </div>
    <div class="flex items-center justify-center pb-12">
        <PrimaryCTA title="View Full Map" url="https://map.tasyadew.com" />
    </div>
</MainLayout>
