---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/assets/capy.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dookie Server</title>

    <style>
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      .map-container {
        height: 100vh;
        width: 100vw;
      }
    </style>
  </head>
  <body>
    <section>
      <div class="map-container">
        <embed
          src="https://map.tasyadew.com"
          style="width: 100%; height: 100%;"
        />
      </div>
    </section>
  </body>
</html>
