---
// Import the necessary dependencies
import { SITE } from "../data/constants";

// Define the variables that will be used in this component
const crafted: string = "Crafted by";
---

<footer class="w-full">

  <div
    class="mt-9 grid gap-y-2 sm:mt-12 sm:flex sm:items-center sm:justify-center sm:gap-y-0 py-4 justify-center"
  >
    <div class="flex items-center justify-between">
      <p class="text-sm text-neutral-600 dark:text-neutral-400">
        © <span id="current-year"></span> {SITE.title}. {crafted}
        <a
          class="rounded-lg font-medium underline underline-offset-2 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-700 hover:decoration-dashed focus:outline-none focus-visible:ring dark:ring-zinc-200 dark:hover:text-neutral-300"
          href="https://tasyadew.com"
          target="_blank"
          rel="noopener noreferrer">tasyadew</a
        >.
      </p>
    </div>
  </div>

  <script>
    const year = new Date().getFullYear();
    const element = document.getElementById("current-year");
    element!.innerText = year.toString();
  </script>
</div>
</footer>
